{% extends 'base.html' %}

{% block content %}

<section class="text-gray-600 body-font min-height-100">
    <div class="container px-5 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-5 lg:mb-0 mt-5">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 text-center">
                    Blog Posts </h1>
                <hr>
                <div class="h-1 w-20 bg-pink-500 rounded"></div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- renders each post  -->
            {% for post in posts %}
            <div class="col-md-6">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                        <h4 class="mb-2">{{ post.title }}</h3>
                            <div class="mb-2 text-muted">{{ post.timestamp }}</div>
                            <p class="card-text mb-auto">{{ post.overview }}</p>
                            <a href="{% url 'post' post.slug %}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img width="200" height="250" object-fit="cover" src="{{ MEDIA_URL }}{{ post.thumbnail }}"
                            alt="An image related to the blog post titled: {{ post.title }}">


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}