{% extends 'base.html' %}

<!-- post detail page -->
{% block content %}
<div class="flex flex-wrap w-full mb-20">
    <div class="lg:w-1/2 w-full mb-5 lg:mb-0 mt-5">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 text-center">
            Blog - {{ post.title }} </h1>
        <hr>
        <div class="h-1 w-20 bg-pink-500 rounded"></div>
    </div>
</div>

<div class="col-lg-4 mt-5">
    <img width="250vw" height="250vh" object-fit="cover" src="{{ MEDIA_URL }}{{ post.thumbnail }}"
        alt="An image related to the blog post titled: {{ post.title }}">
</div>
<div class="row ml-3 mr-3 mb-3">
    <div class="col-lg-8 blog-post mt-5">
        <h2 class="blog-post-title mt-5 mb-2">{{ post.title }}</h2>
        <a class='mb-2' href="#">Added by: {{ post.author }}</a>
        <p class="blog-post-meta ">{{ post.timestamp }}</p>
        <p>{{ post.content }}</p>
    </div>
</div>
{% endblock %}