{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 col-lg-4 white-overlay-background my-auto">
            <h1 class="display-5 mt-6 text-center logo-font text-black">
                Exclusive Teeth Whitening
            </h1>
            <p class='text-center'>Be confident like never before. Dentist quality teeth whitening from your home.
                Say good bye to expensive dentist bills.
            </p>
            <div class="my-5 text-center">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button pink-background btn btn-lg rounded-5 text-uppercase py-3">Buy
                        Kits Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}