{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" id="hero-background">
    <div class="row justify-content-center">
        <div class="container-fluid" id="hero">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-6 col-lg-6 text-center">
                    <div id="hero-logo-container">
                        <img id="hero-logo" src="{{ MEDIA_URL }}xylogo.png" alt="The Exclusive Whitening company logo">
                    </div>
                    <h1 class="display-5 mt-6 text-center" id="hero-header">
                        Exclusive Teeth Whitening
                    </h1>
                    <p class='text-center'>Be confident like never before. Dentist quality teeth whitening at home.
                        Say goodbye to expensive dentist bills.
                    </p>
                    <div class="my-5 text-center">
                        <h4>
                            <a href="{% url 'products' %}"
                                class="shop-now-button pink-background btn btn-lg rounded-5 text-uppercase py-3">Buy
                                Kits Now</a>
                        </h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                    width: 320px;
                }

                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form
                    action="https://herokuapp.us13.list-manage.com/subscribe/post?u=87f530635c335ffe0d13cd445&amp;id=446d997510&amp;f_id=0086e5e2f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_87f530635c335ffe0d13cd445_446d997510" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button accent-color">
                            </div>
                            <div class="clear foot">
                                <p class="brandingLogo"><a href="http://eepurl.com/iffBXD"
                                        title="Mailchimp - email marketing made easy and fun"><img
                                            src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</div>

<style>
    #hero-background {
        background: url('{{ MEDIA_URL }}snow.jpg') no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
    }
</style>
{% endblock %}